.card{
    display: flex;
    gap: 20px;
    /* background-color: var(--color-background-secondary); */
    background-color: rgb(245, 245, 220);
    padding: 25px;
    border-radius: var(--border-radius-default);
    box-shadow: 3px 5px 0px #8a8383;
}

.title {
    font-family: var(--font-primary);
    font-size: 2em;
    margin-bottom: 10px;
}

.image {
    width: 9rem;;
}

section{
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
}

.section2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section3 {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}