.form {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.title {
  font-size: 4rem;
  font-weight: 700;
  color: var(--rgb-secondary-black);
  width: 100%;
}

.subtitle {
  font-size: 1.2rem;
  color: #8a8a8a;
}

.buttonContainer {
  margin-top: 12px;
  background-color: var(--rgb-red);
  border-radius: 6px;
}