.authContainer {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 42% 58%;
}

.leftPanel {
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.rightPanel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 900px) {
  .authContainer {
    grid-template-columns: 1fr;
  }

  .rightPanel {
    display: none;
  }

  .leftPanel {
    min-height: 100vh;
  }
}