.field {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
}

.label {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--rgb-black);
}

.input {
  width: 100%;
  height: 44px;
  padding: 0 var(--spacing-m);
  border: 1px solid #0ae0f0;
  border-radius: 6px;
  background-color: #d9d9d9;
  font-size: 1.2rem;
  outline: none;
}

.input:focus {
  border-color: var(--rgb-red);
  background-color: var(--color-background);
}

.error {
  border: 2px solid red;
  background-color: #ffe6e6;
}

.errorText {
  color: red;
  font-size: 0.8rem;
}