:root{
    --color-background: rgb(255, 255, 255);
    --rgb-red: rgb(198, 40, 57);
    --rgb-black: rgb(43, 47, 56);
    --rgb-green: rgb(0, 104, 50);
    --rgb-blue: rgb(31, 45, 128);

    --font-primary:"Montserrat", sans-serif;
    
    --spacing-xxs: 2px;
    --spacing-xs: 4px;
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 48px;
    --border-radius-default: 12px;

    --cat-rgb_Fin-de-la-pobreza: rgb(229, 36, 59);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--color-background);
    font-family: var(--font-primary);
    color: var(--rgb-secondary-black);
}
