.sidebar {
  width: 240px;
  min-height: 100vh;
  background-color: #e30613;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 32px;
}

.activeItem > button {
  background-color: #f8f8f8;
  border-left: 4px solid #e30613;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
